﻿body {
    background-color: #393C3F;
    background-image: url('../../Image/seamless-backgrounds-05-o.jpg');
    background-repeat: repeat;
    border: 2px #8ABC00 dashed;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90%;
    margin: 0 auto;
    padding: 10px;
    width: 70%;
}

h1 {
    color: #373C3F;
    margin-bottom: .5em;
    padding: 0;
    text-align: center;
}

h2 {
    color: #586164;
    font-style: italic;
    padding: 0;
    text-align: center;
}

div {
    font-size: 16px;
    text-align: left;
}

form {
    background-color: white;
    border: 3px #BDC58F solid;
    color: #373C3F;
    padding: 25px;
    text-align: center;
}

footer {
    color: lightgrey;
    font-size: small;
    margin-top: 10px;
    text-align: center;
}

header { margin-bottom: 50px; }

.validator { color: #8ABC00; }