﻿.lstClosedFeedback {
    height: 30px;
    margin: 10px;
    width: 60%;
}

.additonalFeedback {
    height: 100px;
    margin: 10px;
    width: 325px;
}



.ratingButtons { margin: 10px; }

.contactMethodButtons { margin-top: 10px; }

.submit { margin: 10px; }